<!DOCTYPE html>
<html>
<head>
    <title>LKE Stories</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/mode-cfb.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/pad-zeropadding.js"></script>
    <script>
        function preproc(key,iv) {
            var ukey = CryptoJS.enc.Utf8.parse(key);
            var options = { iv: CryptoJS.enc.Utf8.parse(iv), mode:CryptoJS.mode.CFB, padding:CryptoJS.pad.ZeroPadding};
            var obj = {
                ukey: ukey,
                options: options
            }
            return obj;
        }

        function encrypt(plain_text,key,iv) {
            var attr = preproc(key,iv);
            var encrypted = CryptoJS.AES.encrypt(plain_text, attr.ukey, attr.options);
            var e64 = CryptoJS.enc.Base64.parse(encrypted.toString());
            var encrypted = e64.toString(CryptoJS.enc.Hex);
            return encrypted;
        }

        function decrypt(encrypted_text,key,iv) {
            var attr = preproc(key,iv);
            var reb64 = CryptoJS.enc.Hex.parse(encrypted_text);
            var bytes = reb64.toString(CryptoJS.enc.Base64);
            var decrypted = CryptoJS.AES.decrypt(bytes, attr.ukey, attr.options);
            return decrypted.toString(CryptoJS.enc.Utf8);
        }    
    </script>
</head>
<style>
/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
}

.list-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 200px;
  border: 3px solid #f1f1f1;
}

/* Add styles to the form container */
.form-container {
  max-width: 220px;
  padding: 10px;
  background-color: white;
}

.list-container {
  max-width: 500px;
  padding: 10px;
  background-color: white;
}

</style>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
            {% block sidebar %}
                <ul class = "sidebar-nav">
                    <p><a href="{% url 'blog:index' %}">Home</a></p>
                    {% if user.is_authenticated %}
                        User: {{ user.get_username }}<br>
                        <a href="{% url 'blog:compose' user.get_username %}">Compose</a><br>
                        <a href="{% url 'blog:image' user.get_username %}">Upload Image</a><br>
                        <a href="{% url 'blog:my_articles' user.get_username %}">My Articles</a>
                        <p><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></p>
                        <input type="text" value={%if user.is_staff%}${%else%}~{%endif%}{{user.get_username}} id="username" style="display:none;">
                    {% else %}
                        <a href="{% url 'login' %}?next={{request.path}}">Login</a><br>
                        <p><a href="{% url 'signup' %}?next={{request.path}}">Signup</a></p>
                        <input type="text" value="" id="username" style="display:none;">
                    {% endif %}
                    {% if chat_ready %}
                        {%if user.is_staff%}
                            <a href="#" onclick="openChatMonitor();return false;">Chat Monitor</a><br>
                            <a href="#" onclick="openServeChat();return false;">Serve Chat</a>
                        {% else %}
                            <a href="#" onclick="requestChat();return false;">Chat</a>
                        {% endif %}                        
                    {% endif %}
                    <input type="text" value={{cscRoom}} id="cscRoom" style="display:none;">
                    <input type="text" value={{chat_key}} id="chat_key" style="display:none;">
                    <input type="text" value={{chat_iv}} id="chat_iv" style="display:none;">
                </ul>
                <ul class = "sidebar-nav">
                    {% if categories %}<strong>Categories</strong>
                        {% for category in categories %}
                            <li><a href="{% url 'blog:category_list' category %}">{{ category.category_label }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            {% endblock %}
            </div>
            <div class="col-sm-10">{% block content %}{% endblock %}
                {% block pagination %}
                    {% if is_paginated %}
                        <div class="pagination">
                            <span class="page-links">
                                {% if page_obj.has_previous %}
                                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                                {% endif %}
                                <span class="page-current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>
                                {% if page_obj.has_next %}
                                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                                {% endif %}
                            </span>
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="form-popup" id="myForm">
      <form action="" class="form-container">
        <label for="initials"><b>Chat Id</b></label>
        <input id="initials" type="text" placeholder="First name or Initials" name="initials" size="18" style="width: 100%">
        <button id="submitInitials_btn" type="button" class="btn" onclick="submitInitials()" style="float: left; width:47%; padding-left: 5px; text-align: center;">Enter chat</button>
        <button type="button" class="btn cancel" onclick="closePopup()" style="float: right; width:47%; padding-left: 5px; text-align: center;" >Cancel</button>
      </form>
    </div>
    <div class="list-popup" id="room-lists">
        <div class="list-container">
            <strong>Abandoned</strong>
            <ul id="abandoned_list" style="list-style:none; padding-left: 0;"></ul>
            <strong>Unattended</strong>
            <ul id="unattended_list" style="list-style:none; padding-left: 0"></ul>
            <button type="button" onclick="closeRoomList()">Close</button>
        </div>
    </div>
</body>
<script>
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var roomName = document.getElementById("cscRoom").value;
    var chatSocket = new WebSocket(
        ws_scheme + '://' + window.location.host +
        '/ws/chat/' + roomName + '/');
    var username = document.getElementById("username").value;
    var chat_key = document.getElementById("chat_key").value;
    var chat_iv = document.getElementById("chat_iv").value;
    var unique_id = '';
    var requestingRTS = false;
    var requestingARL = false;

    function openChatMonitor(){
        window.open(window.location.protocol+'//'+window.location.host+'/cs_chat_monitor/'+username+'/', "_blank") //, "toolbar=no,scrollbars=yes,resizable=yes,top=520,left=200,width=400,height=400")
        }

    function openServeChat(){
        chatSocket.send(encrypt(JSON.stringify({
            'action': 'RTS?'}), chat_key, chat_iv));            //RTS = rooms to serve
        requestingRTS = true;
    }

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(decrypt(e.data, chat_key, chat_iv));
        var action = data['action'];
        var logs = data['logs'];
        //alert('action: '+action+'; logs: '+logs+'; requestingARL: '+requestingARL)
        if (requestingRTS && action=='RTS'){
            var dct = JSON.parse(logs.replace(/'/g,'"'))
            var abandoned = JSON.parse(dct['abandoned'].replace(/#/g,'"'))
            var unattended = JSON.parse(dct['unattended'].replace(/#/g,'"'))
            requestingRTS = false;
            var ul = document.getElementById("abandoned_list");
            ul.innerHTML = "";
            for (room in abandoned){
                var room_el = abandoned[room].split("@");
                var li = document.createElement("li");
                var linkText = document.createTextNode(abandoned[room]);
                var alink = document.createElement("a");
                alink.appendChild(linkText);
                alink.href = "#";
                alink.setAttribute('onclick',"serveChat('"+room_el[1].split('-')[0]+"','"+username+"','"+room_el[0]+"');return false;");
                //li.setAttribute('id',abandoned[room]);
                li.appendChild(alink);
                ul.appendChild(li);
            }
            var ul = document.getElementById("unattended_list");
            ul.innerHTML = "";
            for (room in unattended){
                var room_el = unattended[room].split("@");
                var li = document.createElement("li");
                var linkText = document.createTextNode(unattended[room]);
                var alink = document.createElement("a");
                alink.appendChild(linkText);
                alink.href = "#";
                alink.setAttribute('onclick',"serveChat('"+room_el[1].split('-')[0]+"','"+username+"','"+room_el[0]+"');return false;");
                //li.setAttribute('id',unattended[room]);
                li.appendChild(alink);
                ul.appendChild(li);
            }            
            document.getElementById("room-lists").style.display = "block";
        } else if (requestingARL && action=='ARL'){
            var lst = JSON.parse(logs.replace(/'/g,'"'))
            requestingARL = false;
            if (lst[0] == 'zzz'){
                alert('There is currently no staff available. Please retry later or drop us an email.')
            } else {
                do {
                unique_id = makeid();
                } while (lst.includes(unique_id));
                if (username){
                    enterChat();
                } else {
                    document.getElementById("myForm").style.display = "block";
                    document.getElementById("initials").focus();
                    document.getElementById("initials").onkeyup = function(e) {
                        if (e.keyCode === 13) {  // enter, return
                            document.getElementById("submitInitials_btn").click();
                        }
                    };
                }
            }
        }
    };

    function openChat(){
        }

    function closePopup(){
        document.getElementById("myForm").style.display = "none";
    }

    function closeRoomList() {
        document.getElementById("room-lists").style.display = "none";
    }

    function submitInitials(){
        var initials = document.getElementById("initials").value;
        if (initials.trim()){
            closePopup();
            window.username = '_'+initials;
            enterChat();
            }
        else{
            alert("Please enter first name/initials for chat id");}
            document.getElementById("initials").value = "";
    }

    function enterChat(){
        window.open(window.location.protocol+'//'+window.location.host+'/cs_chat/'+unique_id+'/'+window.username+'/Chat Room/', "_blank", "toolbar=no,scrollbars=yes,resizable=yes,top=520,left=500,width=590,height=370")
    }

    function requestChat(){
        chatSocket.send(encrypt(JSON.stringify({
            'action': 'ARL?'}), chat_key, chat_iv));            //ARL = all room list
        requestingARL = true;
    }

    function serveChat(unique_id,username,title){
        closeRoomList();
        window.open(window.location.protocol+'//'+window.location.host+'/cs_chat/'+unique_id+'/'+username+'/'+title+'/', "_blank", "")
    }

    function makeid() {
      var text = "";
      var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
      for (var i = 0; i < 6; i++)
        text += possible.charAt(Math.floor(Math.random() * possible.length));
      return text;
    }    
</script>
</html>