<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<style>
/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}
</style>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
            {% block sidebar %}
                <ul class = "sidebar-nav">
                    <p><a href="{% url 'blog:index' %}">Home</a></p>
                    {% if user.is_authenticated %}
                        User: {{ user.get_username }}<br>
                        <a href="{% url 'blog:compose' user.get_username %}">Compose</a><br>
                        <a href="{% url 'blog:image' user.get_username %}">Upload Image</a><br>
                        <a href="{% url 'blog:my_articles' user.get_username %}">My Articles</a>
                        <p><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></p>
                        <input type="text" value={%if user.is_staff%}${%endif%}{{user.get_username}} id="username" style="display:none;">
                    {% else %}
                        <a href="{% url 'login' %}?next={{request.path}}">Login</a><br>
                        <p><a href="{% url 'signup' %}?next={{request.path}}">Signup</a></p>
                        <input type="text" value="" id="username" style="display:none;">
                    {% endif %}
                    {% if chat_ready %}
                        <a href="#" onclick="openChat();return false;">Chat</a>
                    {% endif %}
                </ul>
                <ul class = "sidebar-nav">
                    {% if categories %}<strong>Categories</strong>
                        {% for category in categories %}
                            <li><a href="{% url 'blog:category_list' category %}">{{ category.category_label }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            {% endblock %}
            </div>
            <div class="col-sm-10">{% block content %}{% endblock %}
                {% block pagination %}
                    {% if is_paginated %}
                        <div class="pagination">
                            <span class="page-links">
                                {% if page_obj.has_previous %}
                                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                                {% endif %}
                                <span class="page-current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>
                                {% if page_obj.has_next %}
                                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                                {% endif %}
                            </span>
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="form-popup" id="myForm">
      <form action="" class="form-container">
        <label for="initials"><b>Chat Id</b></label>
        <input id="initials" type="text" placeholder="First name or Initials" name="initials">
        <button id="submitInitials_btn" type="button" class="btn" onclick="submitInitials()">Enter chat</button>
        <button type="button" class="btn cancel" onclick="closePopup()">Cancel</button>
      </form>
    </div>
</body>
<script>
    function openChat(){
        var username = document.getElementById("username").value;
        if (username){
            enterChat(username);
            }
        else {
            document.getElementById("myForm").style.display = "block";
            document.getElementById("initials").focus();
            }
        }
    function closePopup(){
        document.getElementById("myForm").style.display = "none";
    }

    function submitInitials(){
        var initials = document.getElementById("initials").value;
        if (initials.trim()){
            closePopup();
            enterChat(initials);}
        else{
            alert("Please enter first name/initials for chat id");}
            document.getElementById("initials").value = "";
    }

    function enterChat(username){
        var unique_id = makeid();
        window.open('cs_chat/'+unique_id+'/'+username+'/', "_blank", "toolbar=no,scrollbars=yes,resizable=yes,top=520,left=500,width=590,height=370")
    }

    function makeid() {
      var text = "";
      var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
      for (var i = 0; i < 6; i++)
        text += possible.charAt(Math.floor(Math.random() * possible.length));
      return text;
    }    
</script>
</html>