{% extends "base.html" %}

{% block content %}

{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</div>
<div>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</div>

<div>
    <input type="submit" value="Login" />
    <input type="hidden" name="text" value="{{ next }}" />
</div>
</form>

{# assume a password_reset view is set up in your URLconf #}
<br>
<p><a href="{% url 'password_reset' %}">Reset password</a></p>

{% endblock %}