<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
</head>
<body>
    <textarea id="chat-log" cols="15" rows="1" disabled></textarea><br/>
</body>
<script>
    var roomName = {{ room_name_json }};
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";

    var chatSocket = new WebSocket(
        ws_scheme + '://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    var timeoutInMiliseconds = 300000;
    var timeoutId; 

    function startTimer() { 
        // window.setTimeout returns an Id that can be used to start and stop a timer
        timeoutId = window.setTimeout(doInactive, timeoutInMiliseconds)
    }

    function doInactive() {
        chatSocket.close()
        alert('Auto-update stopped due to inactivity.\nReload the page to resume auto-update.')
    }
           
    function resetTimer() { 
        window.clearTimeout(timeoutId)
        startTimer();
    }

    function setupTimers () {
        document.addEventListener("mousemove", resetTimer, false);
        document.addEventListener("mousedown", resetTimer, false);
        document.addEventListener("keypress", resetTimer, false);
        document.addEventListener("touchmove", resetTimer, false);
         
        startTimer();
    }
     
    setupTimers();


    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value = (message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };

</script>
</html>