<!DOCTYPE html target="_blank">
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
    #chat-box {
      margin:0 auto;
      width: calc(max-width - 10px);
    }
    @media only screen and (min-width:600px) {
      #chat-box {
        width: 600px;
      }
    }
    </style>
    <title>{{ title }}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/mode-cfb.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/pad-zeropadding.js"></script>
    <script src="{% static 'js/enc_dec.js' %}"></script>
</head>
<body>
    <div id="chat-box">
        <textarea id="chat-log" rows="20" disabled style="width:100%"></textarea><br/>
        <input id="chat-message-input" placeholder="Type your chat here" type="text" style="width:100%"><br/>
        <input id="chat-message-submit" type="button" value="Send"/>
        <input type="text" value={{username}} id="username" style="display:none;">
        <input type="text" value={{roomCSM}} id="roomCSM" style="display:none;">
        <input type="text" value={{chat_key}} id="chat_key" style="display:none;">
        <input type="text" value={{chat_iv}} id="chat_iv" style="display:none;">
    </div>
</body>
<script>
    window.onbeforeunload = function (e) {
        (e || window.event).returnValue = null;
        return null;
    };

    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var roomName = {{ room_name }};
    var username = {{ username }} //document.getElementById("username").value;
    var roomCSM = {{ roomCSM }} //document.getElementById("roomCSM").value;
    var chat_key = {{ chat_key }} //document.getElementById("chat_key").value;
    var chat_iv = {{ chat_iv }} //document.getElementById("chat_iv").value;
    var intro = ''
    //var intro = '~Never reveal your password to our staff~\n'

    var csmSocket = new WebSocket(
        ws_scheme + '://' + window.location.host +
        '/ws/chat/' + roomCSM + '/');

    var chatSocket = new WebSocket(
        ws_scheme + '://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    var oldTitle = document.title;
    var titleAlert = "New!";
    var timeoutId;

    function checkPageFocus() {
        if (document.hasFocus()) {
            clear();
        }
    }

    function clear() {
        clearInterval(timeoutId);
        document.title = oldTitle;
        timeoutId = null;
    };

    newExcitingAlerts = (function () {
        var blink = function() { document.title = document.title == titleAlert ? ' ' : titleAlert; };
        return function () {
            if (!timeoutId) {
                timeoutId = setInterval(blink, 1000);
            }
        };
    }());

    setInterval(checkPageFocus, 300);

    function isAndroid() { 
        if (navigator['userAgent']['match'](/Android/i)) { 
            return true 
        } else { 
            return false 
        } 
    }

    function isMobile() { 
        if (navigator['userAgent']['match'](/Android/i) || navigator['userAgent']['match'](/iPhone/i) || navigator['userAgent']['match'](/iPad/i) || navigator['userAgent']['match'](/iPod/i) || navigator['userAgent']['match'](/BlackBerry/i) || navigator['userAgent']['match'](/Windows Phone/i)) { 
            return true 
        } else { 
            return false 
        } 
    } 

    chatSocket.onopen = function(e) {
        chatSocket.send(encrypt(JSON.stringify({
            'action': '>'+username}), chat_key, chat_iv));
        document.querySelector('#chat-log').value=intro;
        csmSocket.send(encrypt(JSON.stringify({
            'message': roomName+'|'+username}), chat_key, chat_iv));
    };

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(decrypt(e.data, chat_key, chat_iv));
        var message = data['message'];
        var action = data['action'];
        var prev_logs = data['logs'];

        if (action.indexOf('>')==0 && action != '>'+username){
            chatSocket.send(encrypt(JSON.stringify({
                'logs': document.querySelector('#chat-log').value}), chat_key, chat_iv));
        }
        else if (action && action.indexOf('<')==0 && username.indexOf('$')==0){
            document.querySelector('#chat-log').value += (action.slice(2) + ' has left\n');
        }
        else if (prev_logs){
            document.querySelector('#chat-log').value = (prev_logs);
        }
        else if (message){
            document.querySelector('#chat-log').value += (message + '\n');
            if (isAndroid() && !(document.hasFocus())){
                alert(message);
            };
            newExcitingAlerts();
        }
        document.getElementById("chat-log").scrollTop = document.getElementById("chat-log").scrollHeight;
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
        var m = confirm("Connection is lost. Click OK to reconnect.");
        if (m) {
            location.reload();}
        else {
            document.querySelector('#chat-log').value += "Chat has ended"
        }
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        if (messageInputDom.value.trim()){
            var message = '<'+username.substr(1)+'> '+messageInputDom.value;
            chatSocket.send(encrypt(JSON.stringify({
                'message': message
            }), chat_key, chat_iv));
            messageInputDom.value = '';
        }
    };

    window.onunload = function (e) {
        csmSocket.send(encrypt(JSON.stringify({
            'message': roomName+'!'+username, 'logs':document.querySelector('#chat-log').value}), chat_key, chat_iv));
        chatSocket.send(encrypt(JSON.stringify({
            'action': '<'+username}), chat_key, chat_iv));
        (e || window.event).returnValue = null;
        return null;
    };
</script>
</html>