<!-- chat/templates/chat/room.html -->
<!DOCTYPE html target="_blank">
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="80" rows="20" disabled></textarea><br/>
    <input id="chat-message-input" placeholder="Type your chat here" type="text" size=56"><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
    <input type="text" value={{username}} id="username" style="display:none;">
</body>
<script>
    var roomName = {{ room_name_json }};
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var username = document.getElementById("username").value;


    var chatSocket = new WebSocket(
        ws_scheme + '://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onopen = function(e) {
        chatSocket.send(JSON.stringify({
            'join': username}));
        document.querySelector('#chat-log').value = 'Our staff will attend to you shortly\n';
    };

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        var join = data['join'];
        var prev_logs = data['logs'];

        if (join && join != username){
            chatSocket.send(JSON.stringify({
                'logs': document.querySelector('#chat-log').value}));}
        else if (prev_logs){
            document.querySelector('#chat-log').value = (prev_logs);}
        else if (message){
            document.querySelector('#chat-log').value += (message + '\n');}
        document.getElementById("chat-log").scrollTop = document.getElementById("chat-log").scrollHeight;
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
        var m = confirm("Connection is lost. Click OK to reconnect.");
        if (m) {
            location.reload();}
        else {
            document.querySelector('#chat-log').value += "Chat has ended"
        }
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        if (messageInputDom.value.trim()){
            var message = '<'+username+'> '+messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        }
    };

</script>
</html>