{% extends "base.html" %}

{% block content %}
    <h4>{{ article.category }}</h4>
    <h1>{{ article.title }}</h1>
    <br>
    <fieldset>
        <legend>{{ article.pub_date }}</legend>
        {{ article.writeup }}    
    </fieldset>
    <br>
    <br>
    <h2>Comments</h2>
    <form action="{% url 'blog:add comment' article.id %}" method="post">
        {% csrf_token %}
        Name: <input type="text" name="newcomment_name"><br>
        Email address: <input type="email" name="newcomment_email_address"><br>
        Comment: <input type="text" name="newcomment_writeup">
        <br>
        <input type="submit" value="Post comment">
    </form>
    <br>
    {% if comments %}
        {% for comment in comments %}
            <fieldset>
                <legend>{{ comment.name }} - {{ comment.email_address }}</legend>
                {{ comment.writeup }}
                <br>
                {{ comment.post_time}}
            </fieldset>
            <br>
            <br>
        {% endfor %}
    {% else %}
        <p>No comments posted. Be the first to comment</p>
    {% endif %}
{% endblock %}