 <html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body onload="init()">
    <div id="can-frame" style="width: 100%; display: flex;
  justify-content: center;">
        <br>
        <canvas id="can" width="300" height="250" style="border:2px solid;"></canvas>
        <img id="canvasimg" style="display:none;">
    </div>
    <div style="width: 100%; display: flex; justify-content: center;">
        <input type="button" value="Upload" id="btn" size="30" onclick="save()" style="top:80%;left:10%; cursor: pointer;">
        <button style="opacity: 0; width: 50px"></button>
        <input type="button" value="Clear" id="clr" size="30" onclick="erase()" style="top:80%;left:18%; cursor: pointer;">
    </div>
    <div style="width: 100%; display: flex; justify-content: center;">
        <form id="uploaderForm" action="{% url 'blog:signature' %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <input type="hidden" for="image_data" id="image_data" name="image_data">
            <div style="top:75%;left:10%;">
                Full name: <input type="text" name="signature_owner">
            </div>
        </form>
    </div>
</body>

<script type="text/javascript">
var canvas, ctx, flag = false,
    prevX = 0,
    currX = 0,
    prevY = 0,
    currY = 0,
    dot_flag = false;

var x = "black",
    y = 2;

function init() {
    canvas = document.getElementById('can');
    ctx = canvas.getContext("2d");
    w = canvas.width;
    h = canvas.height;

    canvas.addEventListener("mousemove", function (e) {
        findxy('move', e)
    }, false);
    canvas.addEventListener("mousedown", function (e) {
        findxy('down', e)
    }, false);
    canvas.addEventListener("mouseup", function (e) {
        findxy('up', e)
    }, false);
    canvas.addEventListener("mouseout", function (e) {
        findxy('out', e)
    }, false);

    canvas.addEventListener("touchmove", function (e) {
        findxy('move', e.touches[0])
    }, false);
    canvas.addEventListener("touchstart", function(e) {
        e.preventDefault();
        findxy('down', e.touches[0])
    }, false);
    canvas.addEventListener("touchend", function (e) {
        findxy('up', e.touches[0])
    }, false);
    canvas.addEventListener("touchcancel", function (e) {
        findxy('out', e.touches[0])
    }, false);
}

function color(obj) {
    switch (obj.id) {
        case "green":
            x = "green";
            break;
        case "blue":
            x = "blue";
            break;
        case "red":
            x = "red";
            break;
        case "yellow":
            x = "yellow";
            break;
        case "orange":
            x = "orange";
            break;
        case "black":
            x = "black";
            break;
        case "white":
            x = "white";
            break;
    }
    if (x == "white") y = 14;
    else y = 2;

}

function draw() {
    ctx.beginPath();
    ctx.moveTo(prevX, prevY);
    ctx.lineTo(currX, currY);
    ctx.strokeStyle = x;
    ctx.lineWidth = y;
    ctx.stroke();
    ctx.closePath();
}

function erase() {
    var m = confirm("Click OK to clear");
    if (m) {
        ctx.clearRect(0, 0, w, h);
        document.getElementById("canvasimg").style.display = "none";
    }
}

function save() {
    document.getElementById("canvasimg").style.border = "2px solid";
    var dataURL = canvas.toDataURL("image/png");
    console.log(dataURL);
    document.getElementById("canvasimg").src = dataURL;
    document.getElementById("canvasimg").style.display = "inline";
    document.getElementById("image_data").value = dataURL;
    document.getElementById("uploaderForm").submit()
}

function findxy(res, e) {
    if (res == 'down') {
        prevX = currX;
        prevY = currY;
        currX = e.clientX - canvas.offsetLeft;
        currY = e.clientY - canvas.offsetTop;

        flag = true;
        dot_flag = true;
        if (dot_flag) {
            ctx.beginPath();
            ctx.fillStyle = x;
            ctx.fillRect(currX, currY, 2, 2);
            ctx.closePath();
            dot_flag = false;
        }
    }
    if (res == 'up' || res == "out") {
        flag = false;
    }
    if (res == 'move') {
        if (flag) {
            prevX = currX;
            prevY = currY;
            currX = e.clientX - canvas.offsetLeft;
            currY = e.clientY - canvas.offsetTop;
            draw();
        }
    }
}
</script>
</html>