{% extends "base.html" %}
{% block content %}
<h1>Upload Image</h1>
    <div style="margin-left: 20px;margin-top: 20px">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                    <small>{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
            {% endfor %}
            <input type="submit" value="Upload Image"><br>
        </form>
    </div>
{% endblock %}